body {
  background-color: rgb(30, 53, 48);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
.story-container {
  width: 170px;
  height: 90px;
  background: #80bb9a;
  transition: width 2s;
  position: relative;
  right: -970px;
  bottom: -50px;
  border-radius: 50px;
  padding: 10px;
  color: white;
  font-size: 35px;
}
.story-container:hover {
  width: 200px;
}
.story {
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
  bottom: -20px;
  font-family: "Montserrat Alternates", sans-serif;
}

.products-container {
  width: 260px;
  height: 95px;
  background: #83cfa4;
  transition: width 2s;
  position: relative;
  right: -95px;
  top: -40px;
  border-radius: 50px;
  padding: 10px;
  color: white;
  font-size: 35px;
}

.products {
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
  top: -20px;
  font-family: "Montserrat Alternates", sans-serif;
}

.products-container:hover {
  width: 270px;
}

.grid-images {
  display: grid;
  grid-template-columns: 300px 300px 400px 400px;
  grid-gap: 20px;
  place-items: center;
  grid-template-columns: 300px 300px 300px 300px;
}
img {
  width: 200px;
  margin-top: 100px;
}
img:hover {
  transform: scale3d(1.3, 1.3, 1.3);
  transition-duration: 3s;
}
.title {
  color: white;
  font-size: 53px;
  position: relative;
  right: -360px;
  top: -20px;
  font-family: "Montserrat Alternates", sans-serif;
}
nav {
  padding-top: 20px;
  width: initial;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
a {
  position: relative;
  color: rgb(230, 246, 243);
  font-family: "Montserrat Alternates", sans-serif;
  letter-spacing: 4px;
  padding: 0 20px;
  font-weight: bolder;
}
a:before,
a:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  background: white;
  transition: 3s;
}
a:after {
  left: 0;
  bottom: -10px;
}
a::before {
  right: 0;
  top: -10px;
}
a:hover::after,
a:hover::before {
  width: 100%;
}
.author {
  color: white;
  padding: 15px 20px 20px 20px;
  position: relative;
  top: -30px;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: small;
}
.author-container {
  height: 20px;
  width: 220px;
  background-image: linear-gradient(to bottom right, #d4855a, #e1d071);
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
  bottom: -50px;
  border-radius: 50px;
  padding: 20px 20px 20px 20px;
  margin-bottom: 90px;
}
hr {
  width: 90%;
}
p {
  color: white;
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: larger;
}
